akka {
	actor {
		provider = "Akka.Remote.RemoteActorRefProvider, Akka.Remote"
		deployment {
			/calculator {
				remote = "akka.tcp://server-system@localhost:8888"
			}
		}
	}

	remote {
		dot-netty.tcp {
			port = 0 # bound to a dynamic port assigned by the OS
			hostname = localhost
		}
	}
}